src/main/resources/wsdl/DummyService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.com/DummyService/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="BookService"
                  targetNamespace="http://www.example.com/DummyService/">
  <wsdl:documentation>Mock Service TEST
  </wsdl:documentation>

  <!--
      The `types` element defines the data types (XML elements)
      that are used by the web service.
   -->
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.com/DummyService/">
      <xsd:element name="Dispositivo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Nombre" type="xsd:string"/>
            <xsd:element name="Descripcion" type="xsd:string"/>
			<xsd:element name="Marca" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Dispositivos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Dispositivo" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

		<xsd:element name="DispositivosRequest">
			<xsd:complexType/>
		</xsd:element>
		<xsd:element name="LoginRequest">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="LoginResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="token" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
      <xsd:element name="DispositivosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Dispositivos" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>


  <!--
      A wsdl `message` element is used to define a message
      exchanged between a web service, consisting of zero
      or more `part`s.
   -->
  <wsdl:message name="LoginRequest">
    <wsdl:part name="parameters" element="tns:LoginRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="tns:LoginResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DispositivosRegistradosRequest">
    <wsdl:part name="parameters" element="tns:DispositivosRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DispositivosRegistradosResponse">
    <wsdl:part name="parameters" element="tns:DispositivosResponse"></wsdl:part>
  </wsdl:message>

  <!--
      A WSDL `portType` is used to combine multiple `message`s
      (e.g. input, output) into a single operation.

      Here we define three synchronous (input/output) operations
      and the `message`s that must be used for each.
   -->
  <wsdl:portType name="DummyService">
    <wsdl:operation name="login">
      <wsdl:input message="tns:LoginRequest"/>
      <wsdl:output message="tns:LoginResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DispositivosRegistrados">
      <wsdl:input message="tns:DispositivosRegistradosRequest"></wsdl:input>
      <wsdl:output message="tns:DispositivosRegistradosResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <!--
      The `binding` element defines exactly how each
      `operation` will take place over the network.
      In this case, we are using SOAP.
   -->
  <wsdl:binding name="DummyServiceSOAP" type="tns:DummyService">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation
              soapAction="http://www.example.com/DummyService/login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DispositivosRegistrados">
      <soap:operation
              soapAction="http://www.example.com/DummyService/DispositivosRegistrados"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!--
      The `service` element finally says where the service
      can be accessed from - in other words, its endpoint.
   -->
  <wsdl:service name="DummyService">
    <wsdl:port binding="tns:DummyServiceSOAP" name="DummyServiceSOAP">
      <soap:address location="http://www.example.com/DummyService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
